header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgb(21, 21, 165);
  color: white;
  text-align: center;
}

.form-input {
  display: block;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-city button {
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.forecast-div {
    position: relative;
    bottom: 120px;
    left: 250px;
}

.forecast-div {
    position: absolute;
}